.container {
  @extend %container;
  background: $color04;
  padding: $size02;
  .nav {
    .d-flex {
      @extend %d-flex;
      .nav-li {
        margin-left: $size02;
        .nav-a {
          font-family: $font02;
          color: rgb(53, 112, 112);
          font-size: $size03;
        }
      }
    }
  }
}

.grey-bg {
  background: grey;
  margin-top: $size03;
  padding: $size04;
  .wraper-box {
    @include border(2px, solid, $color01);
    @include d-flex(flex, space-around, center);
    height: $size06;
    img {
      height: 100%;
    }
    p {
      font-family: $font01;
      margin-left: $size02;
    }
  }
}

.responsive-box {
  background: $color03;
  padding: $size03;
  .container {
    h1 {
      font-family: $font01;
      font-size: $size03;
      margin-bottom: $size02;
    }
    .d-flex {
      @include size(780px);
      display: flex;
      justify-content: space-between;
      align-items: center;

      // img {
      //   width: 100%;
      // }

      p {
        font-size: $size04;
        color: $color02;
        width: plus(50px, 300px);
        @media screen and (max-width: 1024px) {
          font-size: $size02;
          color: $color03;
        }
      }
    }
  }
}
