// colors
$color01: rgb(90, 34, 34);
$color02: green;
$color03: rgb(104, 148, 148);
$color04: rgb(60, 62, 71);

// size
$size01: 10px;
$size02: 15px;
$size03: 25px;
$size04: 35px;
$size05: 50px;
$size06: 400px;

// fonts
$font01: "Literata", serif;
$font02: "Anton", sans-serif;
